* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    background: linear-gradient(#00f, #fff)
}

.man {
    position: absolute;
    z-index: 2;
    transform: translateX(-60px) translateY(-100px);
}

.man span {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 80px;
    background: #fff;
    display: flex;
    border-radius: 40px 80px 20px 20px / 30px 60px 10px 10px;
    border-bottom: 5px solid #480fe5;
    animation: animate 2s linear infinite;
    z-index: 2;
}

.man span:nth-child(2),
.man span:nth-child(2) .legs {
    animation-delay: -1s;
}

@keyframes animate {
    0% {
        left: 90px;
        top: 0;
    }

    50% {
        left: -90px;
        top: 0;
    }

    75% {
        top: -60px;
    }

    100% {
        left: 90px;
        top: 0;
    }
}

.man span .legs {
    content: "";
    position: absolute;
    width: 40px;
    height: 110px;
    background: #008eff;
    top: -110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform-origin: bottom center;
    animation: animate2 2s linear infinite;

}

@keyframes animate2 {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

.man span .legs::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 110px;
    top: -80px;
    background: #008eff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform-origin: bottom center;
    animation: animate3 2s linear infinite;

}

@keyframes animate3
{
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(-30deg);
    }
     100%
    {
        transform: rotate(0deg);
    }
}

.man span:nth-child(2) .legs::before
{
    animation-delay: 1s;
}


.body
{
    position: absolute;
    background: #fff;
    width: 110px;
    height: 240px;
    top: -360px;
    left: -40px;
    z-index: 2;
    transform: rotate(7deg);
    animation: animate4 2s linear infinite;
    border-radius: 40px 50px 20px 20px / 30px 100px 10px 10px;
}

.body::before
{
    content: "";
    position: absolute;
    top: 20px;
    left: 25%;
    transform-origin: top;
    transform: rotate(-15deg);
    background: #fff;
    border: 2px solid rgba(128, 128, 128, 0.397);
    width: 40px;
    height: 180px;
    border-top: none;
    border-bottom: 30px solid #008eff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    animation: animateHand 2s linear infinite;
}
@keyframes animateHand
{
    0%,100%
    {
        transform: rotate(-20deg);
    }
     50%
    {
        transform: rotate(10deg);
    }
}
.head{
    position: absolute;
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: 50%;
    top: -460px;
    left: -20px;
    z-index: 2;
    animation: animate4 2s linear infinite;
}
@keyframes animate4
{
    0%,100%
    {
        transform: rotate(10deg) translateY(0);
    }
    50%
    {
        transform: rotate(10deg) translateY(-20);
    }
}



.road {
    width: 100%;
    height: 300px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    &::before {
        content: "";
        /* background-color: aquamarine; */
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 20px;
        transform-origin: bottom;
        transform: perspective(300px) translateY(-50%) rotateX(45deg);
        background: repeating-linear-gradient(90deg, transparent, transparent 50%, #fff, #fff);
        background-size: 200px;
        animation: animateRoad 2s linear infinite;
    }
}

@keyframes animateRoad {
    0% {
        background-position-x: 200px;
    }

    100% {
        background-position-x: 0px;
    }
}