* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.section {
    width: 100%;
    height: 100vh;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: color 10s linear infinite;



    >svg {
        width: 100%;
        height: 100%;
        /* background-color: crimson; */

        >text {
            position: absolute;
            font-size: 200px;
            fill: none;
            stroke: rgb(98, 94, 94);
            stroke-width: 2px;
            animation: animate 10s ease-in-out infinite;
        }
    }
}


@keyframes animate {
    0% {
        stroke-dasharray: 0 200px;
    }

    10% {
        stroke-dasharray: 200 0px;
    }
}

@keyframes color {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}